<header>
    <div class="navbar bg-theme-color-300 shadow-md">

        <%- partial('_partial/sidebar') %>

        <div class="flex-1">
            <a href="<%- url_for() %>" class="btn max-sm:btn-sm btn-ghost normal-case text-sm sm:text-2xl">ELEC5518 IoT for Critical Infrastructures</a>
        </div>
    </div>

</header>